@page "/pc"

<PageTitle>Put together a package!</PageTitle>



<div class="row">
    <div class="col-md-8">
        <EditForm method="post" Model="TravelPackage" OnValidSubmit="AddTravelPackage" FormName="CreateTravelPackage" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputText id="title" @bind-Value="TravelPackage.Title" class="form-control"/>
                <ValidationMessage For="() => TravelPackage.Title" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" @bind-Value="TravelPackage.Description" class="form-control" />
                <ValidationMessage For="() => TravelPackage.Description" class="text-danger" />
            </div>

            <h2>Flight Paths</h2>
            <h3>Outbound Flight</h3>
           

            <!-- Add the rest of the form here -->

            <h3>Home Flight</h3>

            <div class="mb-3">
                <h4>Hotel</h4>
                <InputSelect id="hotelId" @bind-Value="TravelPackage.HotelId">
                    @foreach (var hotel in Hotels)
                    {
                        <option value="@hotel">@hotel.Name (@hotel.Name)</option>
                    }
                </InputSelect>
            </div>
            @*
            <h2>Transfer</h2>
            <h3>To hotel</h3>

            <h3>To Airport</h3>
            *@

            <button type="submit" class="btn btn-primary">Create Package</button>
        </EditForm>
    </div>

    @if (TravelPackage.Title != null)
    {
        <h2>@TravelPackage.Title</h2>
    }
</div>

@code {
    [SupplyParameterFromForm(FormName = "CreateTravelPackage")]
    public TravelPackage TravelPackage { get; set; } = new()
    {
    };

    public List<Hotel> Hotels;


    public async Task AddTravelPackage()
    {
        //do something
    }
}
