@page "/pc"

<PageTitle>Put together a package!</PageTitle>

@*

<div class="row">
    <div class="col-md-8">
        <EditForm method="post" Model="TravelPackage" OnValidSubmit="AddTravelPackage" FormName="CreateTravelPackage" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputText id="title" @bind-Value="TravelPackage.Title" class="form-control"/>
                <ValidationMessage For="() => TravelPackage.Title" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" @bind-Value="TravelPackage.Description" class="form-control" />
                <ValidationMessage For="() => TravelPackage.Description" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="imagePath" class="form-label">ImagePath:</label>
                <InputText id="imagePath" @bind-Value="TravelPackage.ImagePath" class="form-control" />
                <ValidationMessage For="() => TravelPackage.ImagePath" class="text-danger" />
            </div>

            <h2>Flight Paths</h2>
            <h3>Outbound Flight</h3>
            <div class="mb-3">
                <label for="departureTime" class="form-label">Departure Time:</label>
                <InputDate id="departureTime" @bind-Value="TravelPackage.Flightpaths[0].Outbound.DepartureTime" class="form-control" />
                <ValidationMessage For="() => TravelPackage.Flightpaths[0].Outbound.DepartureTime" class="text-danger" />
            </div>

            <!-- Add the rest of the form here -->

            <h3>Home Flight</h3>

            <h2>Hotel</h2>

            <h2>Transfer</h2>
            <h3>To hotel</h3>

            <h3>To Airport</h3>

            <button type="submit" class="btn btn-primary">Create Package</button>
        </EditForm>
    </div>

    @if (TravelPackage.Title != null)
    {
        <h2>@TravelPackage.Title</h2>
    }
</div>

@code {
    [SupplyParameterFromForm(FormName = "CreateTravelPackage")]
    public TravelPackage TravelPackage { get; set; } = new()
    {
    };


    public async Task AddTravelPackage()
    {
        //do something
    }
}
 *@