@* @page "/flightCreation"
@using Shared1
@inject IService<Flight> FlightService

<h3>FlightCreation</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm method="post" Model="NewFlight" OnValidSubmit="AddFlight" FormName="CreateFlight" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="Id" class="form-label">ID:</label>
                <InputNumber id="Id" @bind-Value="NewFlight.Id" class="form-control" />
                <ValidationMessage For="() => NewFlight.Id" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="DepartureTime" class="form-label">Departure Time:</label>
                <InputDate id="DepartureTime" @bind-Value="NewFlight.DepartureTime" class="form-control" />
                <ValidationMessage For="() => NewFlight.DepartureTime" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="ArrivalTime" class="form-label">Arrival Time:</label>
                <InputDate id="ArrivalTime" @bind-Value="NewFlight.ArrivalTime" class="form-control" />
                <ValidationMessage For="() => NewFlight.ArrivalTime" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Destination" class="form-label">Destination:</label>
                <InputText id="Destination" @bind-Value="NewFlight.Destination" class="form-control" />
                <ValidationMessage For="() => NewFlight.Destination" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Origin" class="form-label">Origin:</label>
                <InputText id="Origin" @bind-Value="NewFlight.Origin" class="form-control" />
                <ValidationMessage For="() => NewFlight.Origin" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="IataDestination" class="form-label">IATA Destination:</label>
                <InputText id="IataDestination" @bind-Value="NewFlight.IataDestination" class="form-control" />
                <ValidationMessage For="() => NewFlight.IataDestination" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="IataOrigin" class="form-label">IATA Origin:</label>
                <InputText id="IataOrigin" @bind-Value="NewFlight.IataOrigin" class="form-control" />
                <ValidationMessage For="() => NewFlight.IataOrigin" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create Flight</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "CreateFlight")]
    public Flight NewFlight { get; set; } = new();


    public async Task AddFlight()
    {
        IataLocation iataLocationOri = new IataLocation()
        {
            Iata = NewFlight.IataOrigin,
            City = NewFlight.Origin,

        };

        IataLocation iataLocationDest = new IataLocation()
            {
                Iata = NewFlight.IataDestination,
                City = NewFlight.Destination,

            };

        Flight flight;
     flight = new Flight()
            {
                ArrivalTime = NewFlight.ArrivalTime,
                DepartureTime = NewFlight.DepartureTime,
                Iatadestination = iataLocationDest,
                Iataorigin = iataLocationOri,

        };
        await FlightService.Create(flight);
    }
} *@