@page "/users"
@inject IUserService UserService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@* @attribute [RenderModeInteractiveServer] *@
@* @rendermode InteractiveServer  *@

<h3>UserList</h3>

@if (users == null)
{
	<span>Loading...</span>
}
else if(users.Count == 0)
{
	<span>No games found.</span>
}
else
{
	<ul>
		@foreach (var user in users)
		{
			<li>@user.FirstName</li>
		}
	</ul>
}

<button @onclick="AddUser" class="btn btn-primary">Add User</button>

@code {
	List<User>? users = null;

	protected override async Task OnInitializedAsync()
	{
		users = await UserService.GetAllUsers();
	}

	void AddUser()
	{
		NavigationManager.NavigateTo("/UserCreation");
	}

}